<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>conform password</title>
    <link rel="stylesheet" href="{% static 'users/confirm_password.css' %}">
    <script src="https://kit.fontawesome.com/30b80cadca.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <form action="" id="form">
            <p>New password</p>
            <div class="inputs">
                <input type="password" name="New Password" id="new-password">
                <i class="fas fa-exclamation-circle wrong"></i>
            <!-- <i class="fas fa-check-circle correct"></i> -->
                <small class="mssg">Error message</small>
            </div>
            <p>confirm password</p>
            <div class="inputs">
                <input type="text" name="confirm Password" id="confirm-password">
                <i class="fas fa-exclamation-circle wrong"></i>
            <!-- <i class="fas fa-check-circle correct"></i> -->
                <small class="mssg">Error message</small>
            </div>
            <button id="btn">Submit</button>
        </form>
    </div>
    <script src="{% static 'users/confirm_password.js' %}"></script>
</body>
</html>