{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap" rel="stylesheet"><title>Reset password</title>
    <link rel="stylesheet" href="{% static 'users/forgot_password.css' %}">
    <script src="https://kit.fontawesome.com/30b80cadca.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <form action="" id="form">
            <p>Enter your email id to reset password</p>
            <div class="inputs">
                <input type="email" name="e-mail" id="email" placeholder="E-mail">
                <i class="fas fa-exclamation-circle wrong"></i>
                <!-- <i class="fas fa-check-circle correct"></i> -->
                <small class="mssg">Error message</small>
            </div>
            <button id="btn">submit</button>
        </form>
    </div>
    <script src="{% static 'users/forgot_password.js' % }"></script>
</body>
</html>